{{> /layout/header}}

<div class="container mt-3">

    <form action="/conv-join" method="post">
        <div class="input-group mb-3">
            <input type="text" name="conName" id="conName" class="form-control" placeholder="구장 이름을 입력해주세요">
            <button class="btn btn-outline-primary" type="submit">등록하기</button>
        </div>
    </form>
</div>
{{> /layout/footer}}